<% if @recipes.empty? %>

  <div class="">
    <h2 class="">No recipes available</h2>
    <%= link_to "Add new recipe", new_recipe_path, class: 'btn btn-secondary text text-centet' %>
  </div>

<% else %>

  <section class="recipe-list">
    <ul>
      <% @recipes.order(:created_at).each do |recipe| %>
      <li>
        <div>
          <%= link_to recipe.name, recipe_path(recipe.id) %>
          <%= button_to "Remove", recipe_path(recipe.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </div>
        <article><%= recipe.description %></article>
      </li>
       <% end %>
    </ul>
  </section>
<% end %>
