@import "foods";
@import "general_shopping";
@import "login";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------------------NAVBAR------------------- */

.nav {
  background: #888;
}

.nav-links {
  padding: 20px;
  display: flex;
  gap: 25px;
}

.nav-link {
  text-decoration: none;
  list-style: none;
}

.nav-link a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.notice {
  color: green;
}

.alert {
  color: red;
}
