/* -------------------LOGIN VIEW------------------- */
.login-container {
  width: 50%;
  margin: 30px auto;
}

.login-h2 {
  font-size: 35px;
  text-align: center;
  padding: 20px 0;
}

.field {
  font-size: 20px;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
}

.devise-btn {
  width: 100%;
  padding: 5px;
  font-size: 20px;
}

/* -----------------------SIGN UP VIEW---------------------- */

.sign-up-container {
  width: 50%;
  margin: 30px auto;
}

.sign-up-h2 {
  font-size: 35px;
  text-align: center;
  padding: 20px 0;
}

/* ---------------------SIGN OUT BTN------------------------------ */

.sign-out {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
